{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class = "container">
    <h1>Task Master</h1>

    {% if tasks | length < 1%}
    <h3>No task added. Create one below!</h3>
    {% else%}
    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
        <tr>
        <td>{{task.content}}</td>
        <td>{{task.created.strftime{"%Y-%m-%d"}}}</td>
        <td class = "action">
            <a href = "/delete/{{task.id}}">Delete</a><br>
            <a href= "/update/{{task.id}}">Update</a>
        </td>
    </tr>
    {% endfor %}
    </table>
    {% endif %}
    <form action="/">
        <input type="text" name="content" id = "content">
        <button type="submit" value="Add Task">Add Task</button>
    </form>
    <style>
    .container {
        display: flex;
        justify-content: center;
    }
    table, th, td {

        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 8px;
        text-align: left;
    }
    td.action {
        display: block;
    }
</style>

</div>
{% endblock %}
